/*
Colors used
FG #5B0179 BG #00A3D7
Text Color (Black): #040404;
Primary Color (darkcyan): darkcyan;
Secondary Color (lightsteelblue): ;
 */

:root {
    --primary-color: #357b70;
    --secondary-color: lightsteelblue;
    --text-color: #2b2b2b;
}

a {
    color: var(--primary-color);
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16 px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    background-color: #00A3D7;
    color: #040404;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: black;
}

a:visited {
    /* visited link */
    color: black;
}

a:hover,
a:focus {
    /* no underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link */
    color: #489c79;
}

button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /*takes the font from the outer container */
    font-family: inherit;
    /*styles the bg color, font color, and text decoration (underline, etc) of the button */
    background-color: darkcyan;
    color: white;
    text-decoration: none;
    /* adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    box-sizing: border-box;

}

button:hover,
button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button__secondary,
.button__secondary:active::before {
    content: "Please reconsider your ";
    background-color: rgba(218, 112, 214, 0.808);
    color: #2b2b2b;
    box-sizing: border-box;
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile__portrait {
    float: left;
    width: 27%;
    margin-right: 40px;
    height: auto;
    /* rounds out my profile pic */
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
    text-align: none;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    background: lightsteelblue;
    border-bottom: 2px solid black;

}

.page-header__item {
    flex: 0 1 100px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 300px 300px; */
    grid-gap: 20px;
    padding: 20px;
}

.grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 2 / 3;

}

.grid__item {
    background-color: lightsteelblue;
    width: auto;
    min-height: auto;
    margin: 0;
}

.garage {

    text-align: center;
}

* {
    box-sizing: border-box;
}

.ul {
    list-style-type: none;
}


@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}


@media all and (min-width: 500x) and (max-width:750px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

}


@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}



button,
.button,
button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type color */
    border-bottom: 2px solid rgba(0. 0. 0. 0. 0.3);
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #cffadc;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation: 3s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0. 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 10s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 10s cloud-move-reverse infinite alternate linear;
}

.social-media {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20%;
}

img {
    transition: transform .2s;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid black;

}

img:hover {
    transform: scale(2.5);
}

.cursive-text {
    font-family: cursive;
    /* Use a cursive font */
    font-size: 24px;
    /* Adjust the font size as needed */
    /* animation: writeText 4s linear infinite; /* Apply the animation */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflowing text */
    /* border-right: 2px solid #333; /* Create a cursor effect */
    width: 0;
    /* Initially set width to 0 */
    animation: drawText 4s steps(40) forwards;
    /*Apply the animation */

}

.animated-text {
    display: inline-block;
    /* animation: drawtext 10s linear forwards; /* Apply the animation */
}

@keyframes drawText {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

.text-button:active::before {
    content: "You are Awesome! ";
}