/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors used
FG #5B0179 BG #00A3D7
Text Color (Black): #040404;
Primary Color (darkcyan): 
Secondary Color (lightsteelblue): ;
Button Text Color (white): ;
Button Bg Color (#357b70 );
 */

:root {
    --primary-color: darkcyan;
    --secondary-color: linear-gradient(90deg, lightsteelblue 0%, #69c4f2 100%);
    --bg-color: linear-gradient(90deg, #00A3D7 0%, #75c7f3 100%);    
    --button-text-color: white;
    --button-color: linear-gradient(
        325deg,
        #357b7b 0%,
        #2b6464 55%,
        #357b7b 90%);
    --button-bg-color: #357b7bee;
}



body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-image: var(--bg-color);
    color: var(--text-color);
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

/* a:visited { */
    /* visited link */
    /* color: var(--text-color);
} */

/* a:hover,
a:focus {
    text-shadow: 0 0 10px #00BFFF, 0 0 20px #00BFFF, 0 0 30px #00BFFF, 0 0 40px #00BFFF;
} */

a:active {
    /* selected link */
    color: #489c79;
} 



.navigation-list__item--active {
    text-decoration: none;
}

.navigation-list__item:hover,
.navigation-list__item:focus {
    background-color:whitesmoke;
    border-radius: 4px;
    transition: color 0.5s ease;
}

.profile__portrait {
    float: left;
    width: 27%;
    margin-right: 40px;
    height: auto;
    /* rounds out my profile pic */
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
    text-align: none;
}

.main-about {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.main-about:hover {
    opacity: 0.7;

}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    background: var(--secondary-color);
    border-bottom: none;

}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100px;
    flex: 0 1 100px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}


.navigation-list {
    list-style-type: none;

}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item {
    display: block;
    text-decoration: none
}

/* .navigation-list li:hover,
.navigation-list li:focus {
    border-bottom: 2px solid;
} */



.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 300px 300px; */
    grid-gap: 20px;
    padding: 20px;
}

.grid__item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;

}

.grid__item {
    background-color: var(--secondary-color);
    width: auto;
    min-height: auto;
    margin: 0;
}

.garage {

    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.about-list__item {
    list-style-type: none;
}

table,
th,
td {
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    padding: 5px;
    text-align: var(--textCenter)
}

.table-about-me {
    margin: 0 auto;
}


@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}


@media all and (min-width: 500x) and (max-width:750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }

}


@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}

button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /*takes the font from the outer container */
    font-family: inherit;
    /*styles the bg color, font color, and text decoration (underline, etc) of the button */
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    text-decoration: none;
    /* adds spacing to the button */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.button__secondary,
.button__secondary:active::before {
    content: "You miss-clicked it's the one to the left :)";
    background-color: var(--secondary-button-color);
    color: var(--button-text-color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

button,
.button,
#contact-form-submit,
button {
    display: inline-block;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: var(--button-color);
    border: none;
    text-decoration: none;
    border-radius: 5px;
    color: hsla(360 100% 100% / 1);
    box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
      0px 5px 5px -1px rgba(58, 125, 233, 0.25),
      inset 4px 4px 8px rgba(175, 230, 255, 0.5),
      inset -4px -4px 8px rgba(19, 95, 216, 0.35);
    font-weight: bold;
}

button:hover, .button:hover, #contact-form-submit:hover {
    background-position: right top;
    transform: scale(1.2);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
button:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px hsla(360 100% 100% / 1), 0 0 0 6px #357b7b;
    cursor: pointer;
} 

.text-button:active::before {
    content: "You are Awesome! ";
}


@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #cffadc;
    }

    100% {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #cffadc;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    -webkit-animation: 3s color-change infinite alternate linear;
    animation: 3s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0. 50px);
        transform: translate(0. 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0. 50px);
        transform: translate(0. 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation: 10s cloud-move infinite alternate linear;
    animation: 10s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 10s cloud-move-reverse infinite alternate linear;
    animation: 10s cloud-move-reverse infinite alternate linear;
}

.social-media {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20%;
}

img {
    transition: transform .2s;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid black;
}

img:hover {
    transform: scale(1.5);


}

.cursive-text {
    font-family: cursive;
    /* Use a cursive font */
    font-size: 24px;
    /* Adjust the font size as needed */
    /* animation: writeText 4s linear infinite; /* Apply the animation */
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflowing text */
    /* border-right: 2px solid #333; /* Create a cursor effect */
    width: 0;
    /* Initially set width to 0 */
    animation: drawText 4s steps(40) forwards;
    /*Apply the animation */

}

.animated-text {
    display: inline-block;
    /* animation: drawtext 10s linear forwards; /* Apply the animation */
}

@keyframes drawText {
    0% {
        width: 0;
    }

    100% {
        width: 25%;
    }
}






